{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<h3>{{ title }}</h3>
<div class="card mb-3">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-row">
                <div class="form-group cold-md-3 mb-0 align-self-end">
                    <button id="submit" type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}